<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.work.virus.dao.CarMapper" >
	<resultMap id="BaseResultMap" type="com.work.virus.pojo.Car" >
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="brand" property="brand" jdbcType="VARCHAR" />
		<result column="color" property="color" jdbcType="VARCHAR" />
		<result column="seatnum" property="seatnum" jdbcType="INTEGER" />
		<result column="oilconsumption" property="oilconsumption" jdbcType="REAL" />
		<result column="birthtime" property="birthtime" jdbcType="TIMESTAMP" />
		<result column="rentnum" property="rentnum" jdbcType="INTEGER" />
		<result column="carImg" property="carImg" jdbcType="VARCHAR" />
		<result column="opreator" property="opreator" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cars
    where id = #{id,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="com.work.virus.pojo.Car" >
    insert into cars (id, brand, color,
      seatnum, oilconsumption, birthtime,
      rentnum, carImg,opreator, createtime
      )
    values (#{id,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR},
      #{seatnum,jdbcType=INTEGER}, #{oilconsumption,jdbcType=REAL}, #{birthtime,jdbcType=TIMESTAMP},
      #{rentnum,jdbcType=INTEGER},#{carImg,jdbcType=VARCHAR},
       #{opreator,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
	<update id="updateByPrimaryKey" parameterType="com.work.virus.pojo.Car" >
    update cars
    set brand = #{brand,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      seatnum = #{seatnum,jdbcType=INTEGER},
      oilconsumption = #{oilconsumption,jdbcType=DOUBLE},
      birthtime = #{birthtime.jdbcType=TIMESTAMP},
      rentnum = #{rentnum,jdbcType=INTEGER},
      carImg = #{carImg,jdbcType=VARCHAR},
      opreator =  #{opreator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
    where id = #{id,jdbcType=INTEGER}
  </update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, brand, color, seatnum, oilconsumption, birthtime, rentnum, carImg,opreator, createtime
    from cars
    where id = #{id,jdbcType=INTEGER}
  </select>
	<select id="selectAll" resultMap="BaseResultMap" >
    select id, brand, color, seatnum, oilconsumption, birthtime, rentnum, carImg,opreator, createtime
    from cars
  </select>
	<select id="queryByBrand" parameterType="java.lang.String" resultMap="BaseResultMap">
		select *
		from cars
		where brand = #{brand};
	</select>
	<select id="selectBybrand" resultMap="BaseResultMap" >
    select * from cars
    where brand like concat('%',#{brand},'%') limit #{page},#{pageTotal}
  </select>
	<select id="selectByColor" resultMap="BaseResultMap" >
	    select * from cars
	    where color = #{color}
	    limit #{page},#{pageTotal}
  </select>
	<select id="selectByTime" resultMap="BaseResultMap" >
	    select * from cars
	    where birthtime between #{date1} and  date_add(#{date2},interval 1 day)
	    limit #{page},#{pageTotal}
  </select>
	<select id="selectByColorTime" resultMap="BaseResultMap" >
	    select * from cars
	    where  color = #{color} and birthtime between #{date1} and  date_add(#{date2},interval 1 day)
	    limit #{page},#{pageTotal}
  </select>
	<select id="selectByBrandTime" resultMap="BaseResultMap" >
	    select * from cars
	    where  brand = #{brand} and birthtime between #{date1} and  date_add(#{date2},interval 1 day)
	    limit #{page},#{pageTotal}
  </select>
	<select id="selectByColorBrand" resultMap="BaseResultMap" >
	    select * from cars
	    where  brand = #{brand}	and color = #{color}
	    limit #{page},#{pageTotal}
  </select>
	<select id="queryByTarget" resultMap="BaseResultMap">
		select *
		from cars
		where  brand = #{brand}	and color = #{color}and birthtime between #{date1} and  date_add(#{date2},interval 1 day)
		limit #{page},#{pageTotal};
	</select>
	<!--  //单元格修改方式-->
	<update id="update" parameterType="java.lang.String" >
		update cars
		set
		<if test="field=='id'">
			= #{value,jdbcType=INTEGER}
		</if>
		<if test="field=='brand'">
			brand = #{value,jdbcType=VARCHAR}
		</if>
		<if test="field=='color'">
			color = #{value,jdbcType=VARCHAR}
		</if>
		<if test="field=='seatnum'">
			seatnum = #{value,jdbcType=INTEGER}
		</if>
		<if test="field=='oilconsumption'">
			oilconsumption = #{value,jdbcType=DOUBLE}
		</if>
		<if test="field=='rentnum'">
			rentnum = #{value,jdbcType=INTEGER}
		</if>
		<if test="field=='opreator'">
			opreator = #{value,jdbcType=INTEGER}
		</if>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>